.navbar .dropdown ul,
.navbar-mobile .dropdown ul {
  z-index: 99;
  box-shadow: 0 0 30px rgba(127, 137, 161, .25);
  opacity: 1
}

#hero h2,
body {
  font-family: "Open Sans", sans-serif
}

#header .logo,
.navbar-mobile,
.team .member .pic,
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider,
section {
  overflow: hidden
}

#footer .social-links a:hover,
#header .logo,
#header .logo h1 a,
#header .logo h1 a:hover,
#remove-underline,
a,
a:hover {
  text-decoration: none
}

.g-0,
.gy-0,
.row {
  --bs-gutter-y: 0
}

body {
  color: #444
}

a {
  color: #009970
}

a:hover {
  color: #00cc95
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif
}

.items-container {
  cursor: pointer
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009970;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: .4s
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0
}

.back-to-top:hover {
  background: #00c28e;
  color: #fff
}

.back-to-top.active {
  visibility: visible;
  opacity: 1
}

@media screen and (max-width:768px) {

  a,
  a:hover {
    text-decoration: none
  }

  a {
    color: #009970
  }

  a:hover {
    color: #00cc95
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif
  }

  [data-aos-delay] {
    transition-delay: 0 !important
  }
}

#header {
  transition: .5s;
  z-index: 997;
  top: 20px;
}

#header .header-container {
  background: #d3d3d3;
}

.corner {
  border-radius: 20px;
}

#header.header-scrolled {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
  top: 0
}

#header .logo {
  padding: 16px 30px 12px;
  background: #009970;
  border-radius: 8px 0px 0px 8px;
}

#header .logo h1 {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: Poppins, sans-serif
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px
}


@media (max-width:992px) {

  #header,
  #header .header-container,
  #header.header-scrolled {
    background: #009970
  }

  #header {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    top: 0
  }

  #header .logo {
    padding-left: 0
  }

  #header .logo h1 {
    font-size: 24px
  }
}

.navbar,
.portfolio-details .portfolio-description p {
  padding: 0
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center
}

.navbar li {
  position: relative
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #36343a;
  transition: .3s;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  white-space: nowrap
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px
}

.navbar .active,
.navbar .active:focus,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul li:hover>a,
.navbar a:hover,
.navbar li:hover>a,
.navbar-mobile .active,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul li:hover>a,
.navbar-mobile a:hover,
.navbar-mobile li:hover>a,

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #009970;
  padding: 10px 25px;
  margin-left: 30px;
  margin-right: 15px;
  border-radius: 50px;
  color: #fff
}

.navbar .getstarted:focus:hover,
.navbar .getstarted:hover {
  color: #fff;
  background: #00b383
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  visibility: hidden;
  background: #fff;
  transition: .3s
}

.navbar .dropdown ul li,
.navbar-mobile .dropdown ul li {
  min-width: 200px
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  font-weight: 500
}

.navbar .dropdown ul a i,
.navbar-mobile .dropdown ul a i {
  font-size: 12px
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible
}

@media (max-width:1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%
  }
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: .5s
}

@media (max-width:991px) {
  .mobile-nav-toggle {
    display: block
  }

  .navbar ul {
    display: none
  }
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 28, 31, .9);
  transition: .3s;
  z-index: 999
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: .3s
}

.clients img,
.my-account .more-btn {
  transition: .4s ease-in-out;
  display: inline-block
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #36343a
}

#hero h1,
.about .content h2 {
  font-weight: 700;
  font-size: 48px
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px
}

.cta .cta-btn,
.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  visibility: visible;
  background: #fff
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block
}

#hero {
  width: 100%;
  height: 35vh;
  background: url("https://github.com/ek33450505/octo-chainsaw/blob/feature/pages/client/src/assets/img/hero-bg.jpg?raw=true%22") center center/cover;
  position: relative
}

#hero .container {
  padding-top: 80px
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0
}

#hero h1 {
  margin: 0 0 10px;
  line-height: 56px;
  color: #fff
}

#hero .btn-get-started,
#hero h2 {
  font-weight: 500;
  text-transform: uppercase
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  letter-spacing: .5px
}

#hero .btn-get-started {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: .5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff
}

#hero .btn-get-started:hover,
.cta .cta-btn:hover {
  background: #009970;
  border: 2px solid #009970
}

@media (min-width:1024px) {
  #hero {
    background-attachment: fixed
  }
}

section {
  padding: 60px 0
}

.section-bg {
  background-color: #f6f6f7
}

.section-title {
  padding-bottom: 30px
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.about .content p:last-child,
.section-title p {
  margin-bottom: 0
}

.about .content h2 {
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase
}

.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px
}

.about .content ul {
  list-style: none;
  padding: 0
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #009970
}

.my-account .content {
  padding: 30px;
  background: #009970;
  border-radius: 4px;
  color: #fff
}

.my-account .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px
}

#footer .footer-top .footer-contact,
#footer .footer-top .footer-links,
.my-account .content p,
.portfolio .portfolio-item {
  margin-bottom: 30px
}

.my-account .more-btn {
  background: rgba(255, 255, 255, .1);
  padding: 6px 30px 8px;
  color: #009970;
  border-radius: 50px
}

.cta .cta-btn,
.cta h3,
.cta p {
  color: #fff
}

.my-account .more-btn:hover,
.portfolio #portfolio-flters li.filter-active,
.portfolio #portfolio-flters li:hover,
.services .icon-box:hover .icon {
  color: #fff;
  background: #009970
}

.my-account .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
  padding: 40px 30px;
  width: 100%;
  transition: .3s
}

.my-account .icon-boxes .icon-box i {
  font-size: 40px;
  color: #009970;
  margin-bottom: 30px
}

.my-account .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px
}

.my-account .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484
}

.cta h3,
.services .icon-box .icon i {
  font-size: 28px
}

.my-account .icon-boxes .icon-box:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .15)
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  text-align: center
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444;
  margin-bottom: 5px;
  transition: .3s ease-in-out;
  border-radius: 50px;
  font-family: Poppins, sans-serif
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0
}

.portfolio .portfolio-wrap {
  transition: .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, .6)
}

.portfolio .portfolio-wrap::before {
  content: "";
  /* background: rgba(54, 52, 58, .6); */
  /* background: rgba(182, 179, 186, 0); */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .3s ease-in-out;
  z-index: 2;
  opacity: 1
}

.portfolio .portfolio-wrap img,
.team .member .pic img {
  transition: .3s ease-in-out
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 1;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 25px;
  color: #e4e48a;
  font-weight: 600;
  padding-top: 20px;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: .3s
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #00cc95
}

.portfolio .portfolio-wrap:hover .portfolio-info,
.portfolio .portfolio-wrap:hover::before {
  opacity: 1
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2)
}

.portfolio-details {
  padding-top: 40px
}

.portfolio-details .portfolio-details-slider img {
  width: 100%
}

.login .info i,
.signup .info i {
  float: left;
  width: 44px;
  height: 44px
}

.portfolio-details .portfolio-details-slider .swiper-pagination,
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet,
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #009970
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active,
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #009970
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0 0 30px rgba(54, 52, 58, .08)
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px
}

.portfolio-details .portfolio-description {
  padding-top: 30px
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px
}

.login .info,
.signup .info,
.team .member {
  padding: 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1)
}

.login .info i,
.signup .info i,
.team .member .social a {
  border-radius: 50px;
  transition: .3s ease-in-out
}

.team {
  background: #fff
}

.rentit-button1,
.rentit-button2 {
  padding: 5px 15px;
  color: red;
  font-style: italic;
  font-family: cursive;
  background-image: url('../img/RentIt-button.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
  font-size: 18px
}

.team .member {
  position: relative;
  border-radius: 10px;
  text-align: center
}

.team .member .pic {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px
}

.team .member:hover img {
  transform: scale(1.1)
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500
}

.team .member span::after {
  content: "";
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}

.login .info i {
  color: #fff;
  background: #009970;
  display: flex;
  justify-content: center;
  align-items: center
}

.team .member p {
  margin: 10px 0 0;
  font-size: 14px
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center
}

.team .member .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #a8a5ae
}

.signup .info i,
.team .member .social a:hover {
  background: #009970
}

.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px
}

.team .member .social a+a {
  margin-left: 8px
}

.login .info,
.signup .info {
  width: 100%;
  background: #fff
}

.signup .info i {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center
}

.login .info h4,
.signup .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #36343a
}

.login .info p,
.signup .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #686470
}

.login .php-email-form,
.signup .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .12)
}

.login .php-email-form .form-group,
.signup .php-email-form .form-group {
  padding-bottom: 8px
}

.login .php-email-form .error-message,
.signup .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600
}

.login .php-email-form .error-message br+br,
.signup .php-email-form .error-message br+br {
  margin-top: 25px
}

.login .php-email-form .sent-message,
.signup .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600
}

.login .php-email-form .loading,
.signup .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px
}

.login .php-email-form .loading:before,
.signup .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: 1s linear infinite animate-loading;
  animation: 1s linear infinite animate-loading
}

.contact .php-email-form textarea,
.login .php-email-form input,
.signup .php-email-form input {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px
}

.login .php-email-form input,
.signup .php-email-form input {
  height: 44px
}

.login .php-email-form textarea,
.signup .php-email-form textarea {
  padding: 10px 12px
}

.login .php-email-form button[type=submit],
.signup .php-email-form button[type=submit] {
  background: #009970;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: .4s;
  border-radius: 50px
}

.login .php-email-form button[type=submit]:hover,
.signup .php-email-form button[type=submit]:hover {
  background: #00805d
}

.login .info i {
  font-size: 20px;
  margin-left: 15%
}

.rentit-button1 {
  border: 0;
  transition: .4s;
  border-radius: 20px
}

.rentit-button2 {
  border: 0;
  transition: .4s;
  border-radius: 20px;
  justify-items: right
}

.right-button {
  justify-content: right
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}


@media (max-width:768px) {
  #hero {
    height: 100vh
  }

  #hero .container {
    padding-top: 60px
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px
  }

}

#footer {
  color: rgb(16, 16, 16);
  font-size: 14px;
  /* background: #f1f0f2 */
  background: rgb(162, 161, 161);
}

#footer .footer-top {
  padding: 60px 0 30px;
  /* background: #f9f8f9 */
  background: rgb(227, 226, 226);
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px;
  padding: 2px 0;
  line-height: 1;
  font-weight: 700
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  color: #777
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  position: relative;
  padding-bottom: 5px
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #00c28e;
  font-size: 18px;
  line-height: 1
}

#footer .footer-top .footer-links ul li {
  padding: 3px 0;
  display: flex;
  align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0
}

#footer .footer-top .footer-links ul a {
  color: rgb(93, 91, 91);
  transition: .3s;
  display: inline-block;
  line-height: 1
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #009970
}

#footer .footer-newsletter {
  font-size: 15px
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  position: relative;
  padding-bottom: 12px
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e4e3e6
}

#footer .social-links a,
.rentit-button {
  background: #009970;
  color: #fff;
  text-align: center
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px)
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: #009970;
  font-size: 16px;
  padding: 0 20px;
  color: #fff;
  transition: .3s;
  border-radius: 50px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1)
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #00664b
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: .3s
}

#footer .social-links a:hover {
  background: #00805d;
  color: #fff
}

#login,
#signup,
.added-border-top {
  margin-top: 2%
}

.listing-title {
  height: 20%
}

.portfolio-wrap img {
  height: 250px;
  width: 450px
}

#add-margin-top {
  margin-top: 8%
}

.rentit-button {
  border: 0;
  padding: 25px 60px;
  transition: .4s;
  border-radius: 50px;
  font-size: 20px;
  margin-left: 15%
}

.center-button {
  justify-content: center
}

.product-selected {
  background-color: rgba(127, 171, 189, .253);
  width: 40%;
}

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}

.row {
  --bs-gutter-x: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y)
}

.col {
  flex: 1 0 0%
}

.d-flex {
  display: flex !important
}

.d-none {
  display: none !important
}

.flex-column {
  flex-direction: column !important
}

.justify-content-center {
  justify-content: center !important
}

.justify-content-between {
  justify-content: space-between !important
}

.align-items-center {
  align-items: center !important
}

.align-items-stretch {
  align-items: stretch !important
}

.mt-3 {
  margin-top: 1rem !important
}

.mt-4 {
  margin-top: 1.5rem !important
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.pt-4 {
  padding-top: 1.5rem !important
}


@media (min-width:576px) {

  .container,
  .container-sm {
    max-width: 540px
  }

}

@media (min-width:768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px
  }

  .col-md {
    flex: 1 0 0%
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%
  }


  .mt-md-0 {
    margin-top: 0 !important
  }

}

@media (min-width:992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }

  .col-lg {
    flex: 1 0 0%
  }

  .col-lg-6,
  .row-cols-lg-2>* {
    flex: 0 0 auto;
    width: 50%
  }

  .col-lg-3,
  .row-cols-lg-4>* {
    flex: 0 0 auto;
    width: 25%
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .pt-lg-0 {
    padding-top: 0 !important
  }

}

@media (min-width:1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .mt-xl-0 {
    margin-top: 0 !important
  }
}

@media (min-width:1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px
  }
}
